



/*****************/
/*Header Styling*/
/*****************/


#portfolioHead{
    background-image: none;
    background-color: rgb(91, 128, 113);
    height: 300px;
}







/******************************************
/* ADDITIONAL STYLES
/*******************************************/


